<div class="nav">
    <div class="logo">
        <p><a [routerLink]="['home']">E-Commerce</a> </p>
    </div>

    <div class="right-links">
        <a [routerLink]="['mostrarSolicitudesUsuarios']">Usuarios</a>
        <a [routerLink]="['mostrarSolicitudesPublicaciones']">Publicaciones</a>
        <a [routerLink]="['mostrarReportesPublicaciones']">Reportes</a>
        <a [routerLink]="['nuevoAdmin']">Nuevo Admin</a>
        <a> <button (click)="logout()" class="btn">Cerrar Sesion</button> </a>
    </div>
</div>