<div class="container">
    <div class="box form-box">
        <header>Productos/Servicios Reportadas</header>

        <form action="">

            <table class="cells">
                <thead>
                    <tr>
                        <th> Reportero</th>
                        <th> ID</th>
                        <th> Titulo</th>
                        <th> Descripción</th>
                        <th> Fecha</th>
                        <th> Owner</th>
                        <th> Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> Jose</td>
                        <td> 02</td>
                        <td> Comida x </td>
                        <td> fregando</td>
                        <td> 2024-04-11</td>
                        <td> Pepe</td>
                        <td>
                            <button class="btn">Dejar</button>
                            <button class="btn-e">Eliminar</button>
                        </td>
                        <!-- !(click)="aceptarUsuario(usuario.id)"-->
                    </tr>
                </tbody>
            </table>

        </form>
    </div>
</div>