<div class="button-bar">
    <!-- Tablero de botones (no Navbar) -->
</div>

<div class="tablero">
    <div class="container">
        <div class="box form-box">
            <header>Usuarios del Sistema</header>

            <form action="">
                <table class="cells">
                    <thead>
                        <tr>
                            <th>ID </th>
                            <th> Username</th>
                            <th> Rol</th>
                            <th> Correo electrónico</th>
                            <th> Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios">
                            <td>{{ usuario.id }}</td>
                            <td>{{ usuario.username }}</td>
                            <td>{{ usuario.rol }}</td>
                            <td>{{ usuario.email }}</td>
                            <td><button class="btn" (click)="eliminarUsuario(usuario.id)">Eliminar</button></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

<router-outlet></router-outlet>