<div class="container">
    <div class="box form-box">
        <header>Mis E-Coins</header>

        <form action="" method="post">
            <table class="cells">
                <thead style="display: flex; align-items: center; justify-content: center;">
                    <tr>
                        <th> Cantidad</th>
                        <th> Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> Q100.00</td>
                        <td>
                            <button class="btn">Recargar</button>
                            <button class="btn-e">Retirar</button>
                        </td>
                        <!-- !(click)="aceptarUsuario(usuario.id)"-->
                    </tr>
                </tbody>
            </table>    
            
        </form>
    </div>
</div>