<div class="container">
    <div class="box form-box">
      <header>Mis Productos</header>
  
      <form action="">
  
        <table class="cells">
          <thead>
            <tr>
              <th>ID</th>
              <th> Titulo</th>
              <th> Descripción</th>
              <th> Stock</th>
              <th> Precio</th>
              <th> Tag</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> 01 </td>
              <td> Samsung A4</td>
              <td> Celular como nuevo liberado</td>
              <td> 1</td>
              <td> 1000</td>
              <td> Celular</td>
              <td>
                <button class="btn" >Ver</button>
                <button class="btn-e" >Eliminar</button>
            </td>
              <!-- !(click)="aceptarUsuario(usuario.id)"-->
            </tr>
          </tbody>
        </table>
  
      </form>
    </div>
  </div>
