.page {
  background: rgba(76, 68, 182, 0.808);
  display: flex;
  flex-direction: column;
  height: calc(100% - 0px);
  position: absolute;
  place-content: center;
  width: calc(100% - 10px);
}

.container {
  display: flex;
  height: 375px;
  margin: 0 auto;
  width: 650px;
}

.form {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 40px;
  position: absolute;
}

.left {
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 60%;
}

.title {
  text-align: center;
  font-size: 45px;
  font-weight: 900;
  padding: 20px 0px 10px 0px;
  margin: 50px 40px 40px 40px;
}

.eula {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: rgba(76, 68, 182, 0.808);
  text-decoration: solid, white;

  line-height: 1;
  margin: 40px;
}

.right {
  background: #474a59;
  box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
  color: #f1f1f2;
  position: relative;
  width: 50%;
}

.login {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  padding: 35px 0px 5px 0px;
  margin-top: -70px;
}

button {
  background: #fff;
  border: none;
  padding: 10px 10px;
  margin-top: -15px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  width: 120px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: #8000ff;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

button:hover {
  color: #fff;
}

button:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}

.link-div {
  text-align: center;
  font-size: 15px;
  margin: -20px;
}

.link {
  color: #8000ff;
}

.wave-group {
  position: relative;
}

.wave-group .input {
  background: transparent;
  color: rgba(183, 178, 254, 0.808);
  font-size: 16px;
  padding: 5px 5px 5px 10px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid white;
}

.wave-group .input:focus {
  outline: none;
}

.wave-group .label {
  color: #f1f1f2;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 1px;
  display: flex;
}

.wave-group .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * 0.05s);
}

.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char {
  transform: translateY(-20px);
  font-size: 20px;
  color: white;
}

.wave-group .bar {
  position: relative;
  display: block;
  width: 200px;
}

.wave-group .bar:before,
.wave-group .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: white;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
  left: 50%;
}

.wave-group .bar:after {
  right: 50%;
}

.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after {
  width: 50%;
}

.mensaje-error {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 0, 0);
  color: white;
}
