<div class="container">
    <div class="box form-box">
        <header>Nueva Publicación</header>

        <form action="" method="post">
            <div class="field input">
                <label for="title">Título</label>
                <input type="text" name="title" id="title" autocomplete="off" required>
            </div>
            <div class="field input">
                <label for="descrip">Descripción</label>
                <input type="descrip" name="descrip" id="descrip" autocomplete="off" required>
            </div>
            <div class="field">
                <input type="submit" class="btn" name="submit" value="Crear Publicación">
            </div>
        </form>
    </div>
</div>