<div class="container">
    <div class="box form-box">
      <header>Mis Publicaciones</header>
  
      <form action="">
  
        <table class="cells">
          <thead>
            <tr>
              <th> Titulo</th>
              <th> Descripción</th>
              <th> Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> Busco Celular Usado </td>
              <td> Especificaciones: 4GB RAM, 64GB ROM, Q1500</td>
              <td> 2024-04-11</td>
              <td>
                <button class="btn" >Ver</button>
                <button class="btn-e" >Eliminar</button>
            </td>
              <!-- !(click)="aceptarUsuario(usuario.id)"-->
            </tr>
          </tbody>
        </table>
  
      </form>
    </div>
  </div>
