<div class="container">
    <div class="box form-box">
      <header>Solicitudes de Aprobación de Productos</header>
  
      <form action="">
  
        <table class="cells">
          <thead>
            <tr>
              <th> ID </th>
              <th> Titulo</th>
              <th> Descripción</th>
              <th> Precio</th>
              <th> Estado</th>
              <th> Catgoría</th>
              <th> Username</th>
              <th> Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of productos">
              <td>{{ producto.id }}</td>
              <td>{{ producto.titulo }}</td>
              <td>{{ producto.descripcion }}</td>
              <td>{{ producto.precio }}</td>
              <td>{{ producto.estado }}</td>
              <td>{{ producto.categoria }}</td>
              <td>{{ producto.UsuarioId }}</td>
              <td>
                <button class="btn" (click)="aceptarProducto(producto.id)">Aprobar</button>
                <button class="btn-e" (click)="rechazarProducto(producto.id)">Rechazar</button>
              </td>
            </tr>
          </tbody>
        </table>
  
      </form>
    </div>
  </div>